/* Запросы Mobile First */
@media (min-width: 320px) {
    body{
        font-family: 'Roboto', sans-serif; 
        color: black;
    }

    a{
        text-decoration: none;
        cursor: pointer;
    }

    li{
        list-style-type: none;
    }
    .container{
        width: 100%;
        margin: 0 auto;
    }
    .min-header{
        min-height: 4rem;
        background: #F4F4F4;
    }
    .min-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 2.1rem;
        margin: 0;
    }
    .max-header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 2rem;
    }

    .banner_room{
        margin: 2rem 0;
    }

    .banner_room img{
        width: 100%;
        height: auto;
    }

    .text-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }

    .black_title{
        font-size: 3.8rem;
        line-height: 3.8rem;
        padding: 2rem 0;
    }

    .text_gray{
        font-size: 2rem;
        line-height: 2.5rem;
        color: #AAAAAA;
        padding: 2rem 0;
        text-align: center;
    }

    .gallery{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 4rem 2rem;
    }

    .gallery img{
        width: 100%;
        height: auto;
    }

    .partners{
        display: flex;
        flex-direction: column;
        margin: 4rem 2rem;
    }

    .partners img{
        width: 100%;
        height: auto;
    }

    .partners table{
        margin: 2rem 0;
        display: flex;
    }
    .slider{
        display: none;
    }

    .our-simple{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 2rem;
    }

    .our_simple_title{
        font-size: 3rem;
        text-align: center;
    }
    .our_simple_content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .our_simple_content div:nth-child(even){
        text-align: end;
    }
    .our_simple_content div:nth-child(odd){
        text-align: start;
    }
    .col_4{
        padding: 2rem 0;
    }

    .col_4 h4{
        padding-top: 2rem;
    }
    .our_simple_content img{
        width: 50%;
        height: auto;
    }
    .baner{
        min-height: 80rem;
        margin: 2rem 0;
        background-image: url(../images/baner.svg);
        background-repeat: no-repeat;
        background-position: top;
    }

    .ul_feedback{
        padding: 10rem 2rem;
    }

    .ul_feedback li{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 3.2rem;
    }
    
    .ul_feedback li:last-child{
        padding-bottom: 3.9rem;
    }

    .content{
        margin: 4rem 0;
        text-align: center;
    }

    .content .text_grey_m{
        display: none;
    }

    .gallery_two{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 4rem 0;
    }

    .gallery_two img{
        width: 100%;
        height: auto;
    }
    .gallery_two figcaption{
        padding: 0 2rem;
    }
    .gallery_two figure:nth-child(even){
        padding: 2rem 0;
    }
    .banner_two img{
        width: 100%;
        height: auto;
    }
    .get_it{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #F2F2F2;
        border-radius: 0.2rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        margin: 4rem 2rem;
        padding: 2rem;
    }
    .get_it h3{
        font-size: 3rem;
        font-weight: 400;
        line-height: 5.2rem;
        letter-spacing: 0em;
        color: #000;
    }
    .get_it ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .get_it li{
        padding: 1rem;
    }
    .get_it figure{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #btn_get_room{
        width: 14.6rem;
        height: 5rem;
        background: #46856E;
        border-radius: 0.2rem;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer{
        background: #2B2B2B;
        box-shadow: 0 40rem 0 #2B2B2B;
        color: #FFF;
        padding: 4rem 2rem;
    }
    .footer .row{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 3rem 0;
    }
    #social_nav{
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
    .social_ul{
        display: flex;
        width: 100%;
        justify-content: space-around;
        padding: 2rem 0;
    }
    #form{
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
    #form form{
        padding: 1rem 0;
    }
    #form input[type="text"]{
        min-width: 34rem;
        min-height: 5.4rem;
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 3px;
        background-color: #2B2B2B;
        color: #FFF;
    }
    .field-select{
        min-width: 12.9rem;
        margin-top: 1.6rem;
        font-family: 'Roboto', sans-serif;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2.1rem;
        letter-spacing: 0em;
        /* text-align: left; */
        color: rgba(255, 255, 255, 0.5);
        background-color: #2B2B2B;
        border: none;
        position: relative;
        left: 64%;
    
    }
    .agree{
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
    #form input[type="checkbox"]{
        width: 2.6rem;
        height: 2.6rem;
        background: #2B2B2B;
        border: 1px solid rgba(255, 255, 255, 0.5);
    }
    #form input[type="submit"]{
        width: 9rem;
        height: 6rem;
        background: #2B2B2B;
        text-transform: uppercase;
        border: none;
    }
}
/* стили для ширины крупнее фаблетов */
/* стили для ширины 550 пикселов и выше */
@media (min-width: 550px) {
    .partners{
        margin: 6rem 2rem 2rem 2rem;
    }
    .slider{
        display: none;
    }
    .our-simple{
        margin: 3rem 2rem;
    }
    .our_simple_title{
        font-family: 'Roboto', sans-serif; 
        font-style: normal;
        font-weight: 400;
        font-size: 3.8rem;
    }
}
/* стили для ширины крупнее планшетов */
/* стили для ширины 750 пикселов и выше */
@media (min-width: 750px) {
    .min-nav{
        justify-content: flex-end;
    }
    .min-nav li{
        padding: 0 1.3rem;
    }
    .max-header{
        margin: 0 2rem;
    }
    .max-nav ul{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    .nav-btns ul{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    .text-content .black_title{
        font-style: normal;
        font-weight: 400;
        font-size: 4.8rem;
        line-height: 5.8rem;
    }
    .partners{
        margin: 10rem 2rem 2rem 2rem;
    }
    .partners table{
        justify-content: center;
    }
    .slider{
        display: block;
        margin: 10rem 0;
    }
    .our-simple{
        margin: 8.3rem 2rem 6.3rem 2rem;
    }
    .our_simple_title{
        display: flex;
        align-items: flex-start;
    }
    .our_simple_content{
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .our_simple_content div:nth-child(even){
        text-align: start;
    }
    .content{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 14rem 2rem;
    }
    .content .text_grey_m{
        display: block;
        font-size: 2.4rem;
        line-height: 4rem;
    }
    .get_it h3{
        font-style: normal;
        font-weight: 400;
        font-size: 4.6rem;
        line-height: 5.1rem;
    }
    .get_it ul{
        width: 70%;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
        margin: 6rem 0;
    }
    .gallery_two{
        margin: 2rem 4rem;
    }
    .gallery_two figure{
        display: flex;
    }
    .gallery_two figure:nth-child(odd){
        margin-top: 3rem;
    }
    .gallery_two figure:nth-child(even){
        flex-direction: row-reverse;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .gallery_two img{
        width: 60%;
        height: auto;
    }
    #form{
        align-items: center;
    }
}
/* стили для ширины крупнее компьютерных мониторов */
/* стили для ширины 1000 пикселов и выше */
@media (min-width: 1000px) {
    .max-header {
        margin: 0 auto;
        padding: 0 3.4rem 0 7rem;
        border-bottom: 0.1rem solid #E0E0E0;
        min-height: 10rem;
    }
    .max-header ul{
        padding-left: 0;
    }
    .logo{
        width: 20%;
    }
    .max-nav{
        width: 70%;
    }
    .max-nav ul{
        justify-content: space-around;
    }
    .nav-btns{
        width: 30%;
    }
    .nav-btns ul{
        padding-left: 5rem;
    }
    .banner_room {
        margin: 4.9rem 2rem 9rem 2rem;
    }
    .text-content{
        flex-direction: row;
        justify-content: space-between;
    }
    .text_gray{
        font-size: 2.4rem;
        line-height: 4rem;
        text-align: start;
        padding-left: 5rem;
    }
    .gallery{
        flex-direction: row;
        flex-wrap: wrap;
        margin: 10rem 0;
    }
    .gallery .image{
        width: 50%;
        padding: 1rem;
    }
    .partners{
        margin: 20rem 2rem 2rem 2rem;
    }
    .partners table{
        justify-content: center;
    }
    .slider{
        margin: 19rem 0 8rem 0;
    }
    .our_simple_title{
        text-align: start;
    }
    .our-simple p{
        text-align: left;
        width: 85%;
    }
    .baner{
        margin: 15rem 0;
    }
    .content{
        align-items: baseline;
    }
    .content .text_grey_m{
        font-size: 4.6rem;
        line-height: 5.2rem;
        text-align: start;
    }
}
/* стили для ширины крупнее компьютерных HD-мониторов */
/* стили для ширины 1200 пикселов и выше */
@media (min-width: 1200px) {
}